---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Form from "../components/Form.astro";
import BentoGrid from "../components/BentoGrid.astro";
import Card from "../components/Card.astro";
import MasonryGallery from "../components/MasonryGallery.astro";
import Button from "../components/Button.astro";
---

<DefaultLayout title="Home">
  <section
    class="h-dvh flex flex-col justify-center items-center max-[520px]:text-center"
    id="main-section"
  >
    <div class="h-full mx-20 max-[520px]:mx-5 lg:mx-40">
      <div class="flex flex-row h-full">
        <div class="w-1/2 max-[780px]:w-full">
          <div class="flex flex-col justify-center h-full">
            <h1 class="title font-bold" id="main">Real Estate Agency</h1>
            <p class="text-lg subtitle">
              Descubre la mejor opción para ti y tu familia en el mejor lugar
              para vivir
            </p>
            <a class="mt-10 max-[520px]:self-center" href="/estates">
              <Button text="Conoce nuestros inmuebles" />
            </a>
          </div>
        </div>
        <div class="h-full w-1/2 max-[780px]:hidden ml-20">
          <div class="flex flex-col justify-center h-full">
            <MasonryGallery />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section
      class="h-dvh flex flex-col justify-center mx-10 max-[580px]:mx-5"
      id="services-section"
    >
      <div class="md:w-1/2 sm:w-full">
        <div class="mr-10 max-[580px]:mr-0">
          <p class="text-up-title max-[580px]:text-center">
            Conoce nuestros servicios
          </p>
          <h1 class="font-bold title max-[580px]:text-center">
            Contamos con los mejores servicios para ti
          </h1>
          <p class="description max-[580px]:text-center">
            There are many variations available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words
            which don't look even slightly believable.
          </p>
        </div>
      </div>
      <div class="w-1/2"></div>
    </section> -->
  <section
    class="flex flex-col justify-center mx-10 max-[580px]:mx-5 relative my-10"
    id="main-section"
  >
    <div class="flex flex-col justify-center items-center">
      <h1 class="title font-bold text-center">
        Con los mejores servicios para ti
      </h1>
      <p class="text-lg subtitle mb-10 text-center max-w-screen-lg">
        There are many variations available, but the majority have suffered
        alteration in some form, by injected humour, or randomised words which
        don't look even slightly believable.
      </p>
      <BentoGrid />
    </div>
  </section>
  <section
    class="flex flex-col justify-center mx-10 max-[580px]:mx-5 my-40"
    id="main-section"
  >
    <div class="flex flex-col justify-center items-center">
      <h1 class="title font-bold text-center">
        Más que una inmobiliaria, somos tu mejor opción
      </h1>
      <p class="text-lg subtitle mb-10 text-center max-w-screen-lg">
        There are many variations available, but the majority have suffered
        alteration in some form, by injected humour, or randomised words which
        don't look even slightly believable
      </p>
      <Card />
    </div>
  </section>
  <section
    class="flex flex-col justify-center items-center mx-10 max-[580px]:mx-5 my-40"
    id="services-section"
  >
    <h1 class="title font-bold text-center">
      Contáctanos para más información
    </h1>
    <p class="text-lg subtitle mb-10 text-center max-w-screen-lg">
      Pon tus datos y nos pondremos en contacto contigo
    </p>
    <Form />
    <h1 class="title my-10 text-center" style="font-size:2rem">
      O bien, tenemos estas opciones para contactarnos
    </h1>
    <div class="flex justify-center items-center mt-5">
      <a
        href="
        https://api.whatsapp.com/send?phone=+524771234567&text=Hola%20me%20gustar%C3%ADa%20m%C3%A1s%20informaci%C3%B3n%20sobre%20sus%20inmuebles
      "
      >
        <div
          class="rounded-full bg-green-700 py-2 px-5 flex flex-row items-center button-contact"
        >
          <svg
            fill="#ffffff"
            height="30px"
            width="30px"
            version="1.1"
            id="Layer_1"
            viewBox="0 0 308 308"
            xml:space="preserve"
            stroke="#ffffff"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>

            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g>

            <g id="SVGRepo_iconCarrier">
              <g id="XMLID_468_">
                <path
                  id="XMLID_469_"
                  d="M227.904,176.981c-0.6-0.288-23.054-11.345-27.044-12.781c-1.629-0.585-3.374-1.156-5.23-1.156 c-3.032,0-5.579,1.511-7.563,4.479c-2.243,3.334-9.033,11.271-11.131,13.642c-0.274,0.313-0.648,0.687-0.872,0.687 c-0.201,0-3.676-1.431-4.728-1.888c-24.087-10.463-42.37-35.624-44.877-39.867c-0.358-0.61-0.373-0.887-0.376-0.887 c0.088-0.323,0.898-1.135,1.316-1.554c1.223-1.21,2.548-2.805,3.83-4.348c0.607-0.731,1.215-1.463,1.812-2.153 c1.86-2.164,2.688-3.844,3.648-5.79l0.503-1.011c2.344-4.657,0.342-8.587-0.305-9.856c-0.531-1.062-10.012-23.944-11.02-26.348 c-2.424-5.801-5.627-8.502-10.078-8.502c-0.413,0,0,0-1.732,0.073c-2.109,0.089-13.594,1.601-18.672,4.802 c-5.385,3.395-14.495,14.217-14.495,33.249c0,17.129,10.87,33.302,15.537,39.453c0.116,0.155,0.329,0.47,0.638,0.922 c17.873,26.102,40.154,45.446,62.741,54.469c21.745,8.686,32.042,9.69,37.896,9.69c0.001,0,0.001,0,0.001,0 c2.46,0,4.429-0.193,6.166-0.364l1.102-0.105c7.512-0.666,24.02-9.22,27.775-19.655c2.958-8.219,3.738-17.199,1.77-20.458 C233.168,179.508,230.845,178.393,227.904,176.981z"
                ></path>
                <path
                  id="XMLID_470_"
                  d="M156.734,0C73.318,0,5.454,67.354,5.454,150.143c0,26.777,7.166,52.988,20.741,75.928L0.212,302.716 c-0.484,1.429-0.124,3.009,0.933,4.085C1.908,307.58,2.943,308,4,308c0.405,0,0.813-0.061,1.211-0.188l79.92-25.396 c21.87,11.685,46.588,17.853,71.604,17.853C240.143,300.27,308,232.923,308,150.143C308,67.354,240.143,0,156.734,0z M156.734,268.994c-23.539,0-46.338-6.797-65.936-19.657c-0.659-0.433-1.424-0.655-2.194-0.655c-0.407,0-0.815,0.062-1.212,0.188 l-40.035,12.726l12.924-38.129c0.418-1.234,0.209-2.595-0.561-3.647c-14.924-20.392-22.813-44.485-22.813-69.677 c0-65.543,53.754-118.867,119.826-118.867c66.064,0,119.812,53.324,119.812,118.867 C276.546,215.678,222.799,268.994,156.734,268.994z"
                ></path>
              </g>
            </g>
          </svg>
          <p class="m-0 p-0">&nbsp;WhatsApp</p>
        </div>
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="tel:4771234567">
        <div
          class="rounded-full bg-gray-800 py-2 px-5 flex flex-row items-center button-contact"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30px"
            height="30px"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#fff0f0"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g>

            <g id="SVGRepo_iconCarrier">
              <path
                d="M16.1007 13.359L15.5719 12.8272H15.5719L16.1007 13.359ZM16.5562 12.9062L17.085 13.438H17.085L16.5562 12.9062ZM18.9728 12.5894L18.6146 13.2483L18.9728 12.5894ZM20.8833 13.628L20.5251 14.2869L20.8833 13.628ZM21.4217 16.883L21.9505 17.4148L21.4217 16.883ZM20.0011 18.2954L19.4723 17.7636L20.0011 18.2954ZM18.6763 18.9651L18.7459 19.7119H18.7459L18.6763 18.9651ZM8.81536 14.7266L9.34418 14.1947L8.81536 14.7266ZM4.00289 5.74561L3.2541 5.78816L3.2541 5.78816L4.00289 5.74561ZM10.4775 7.19738L11.0063 7.72922H11.0063L10.4775 7.19738ZM10.6342 4.54348L11.2346 4.09401L10.6342 4.54348ZM9.37326 2.85908L8.77286 3.30855V3.30855L9.37326 2.85908ZM6.26145 2.57483L6.79027 3.10667H6.79027L6.26145 2.57483ZM4.69185 4.13552L4.16303 3.60368H4.16303L4.69185 4.13552ZM12.0631 11.4972L12.5919 10.9654L12.0631 11.4972ZM16.6295 13.8909L17.085 13.438L16.0273 12.3743L15.5719 12.8272L16.6295 13.8909ZM18.6146 13.2483L20.5251 14.2869L21.2415 12.9691L19.331 11.9305L18.6146 13.2483ZM20.8929 16.3511L19.4723 17.7636L20.5299 18.8273L21.9505 17.4148L20.8929 16.3511ZM18.6067 18.2184C17.1568 18.3535 13.4056 18.2331 9.34418 14.1947L8.28654 15.2584C12.7186 19.6653 16.9369 19.8805 18.7459 19.7119L18.6067 18.2184ZM9.34418 14.1947C5.4728 10.3453 4.83151 7.10765 4.75168 5.70305L3.2541 5.78816C3.35456 7.55599 4.14863 11.144 8.28654 15.2584L9.34418 14.1947ZM10.7195 8.01441L11.0063 7.72922L9.9487 6.66555L9.66189 6.95073L10.7195 8.01441ZM11.2346 4.09401L9.97365 2.40961L8.77286 3.30855L10.0338 4.99296L11.2346 4.09401ZM5.73263 2.04299L4.16303 3.60368L5.22067 4.66736L6.79027 3.10667L5.73263 2.04299ZM10.1907 7.48257C9.66189 6.95073 9.66117 6.95144 9.66045 6.95216C9.66021 6.9524 9.65949 6.95313 9.659 6.95362C9.65802 6.95461 9.65702 6.95561 9.65601 6.95664C9.65398 6.95871 9.65188 6.96086 9.64972 6.9631C9.64539 6.96759 9.64081 6.97245 9.63599 6.97769C9.62634 6.98816 9.61575 7.00014 9.60441 7.01367C9.58174 7.04072 9.55605 7.07403 9.52905 7.11388C9.47492 7.19377 9.41594 7.2994 9.36589 7.43224C9.26376 7.70329 9.20901 8.0606 9.27765 8.50305C9.41189 9.36833 10.0078 10.5113 11.5343 12.0291L12.5919 10.9654C11.1634 9.54499 10.8231 8.68059 10.7599 8.27309C10.7298 8.07916 10.761 7.98371 10.7696 7.96111C10.7748 7.94713 10.7773 7.9457 10.7709 7.95525C10.7677 7.95992 10.7624 7.96723 10.7541 7.97708C10.75 7.98201 10.7451 7.98759 10.7394 7.99381C10.7365 7.99692 10.7335 8.00019 10.7301 8.00362C10.7285 8.00534 10.7268 8.00709 10.725 8.00889C10.7241 8.00979 10.7232 8.0107 10.7223 8.01162C10.7219 8.01208 10.7212 8.01278 10.7209 8.01301C10.7202 8.01371 10.7195 8.01441 10.1907 7.48257ZM11.5343 12.0291C13.0613 13.5474 14.2096 14.1383 15.0763 14.2713C15.5192 14.3392 15.8763 14.285 16.1472 14.1841C16.28 14.1346 16.3858 14.0763 16.4658 14.0227C16.5058 13.9959 16.5392 13.9704 16.5663 13.9479C16.5799 13.9367 16.5919 13.9262 16.6024 13.9166C16.6077 13.9118 16.6126 13.9073 16.6171 13.903C16.6194 13.9008 16.6215 13.8987 16.6236 13.8967C16.6246 13.8957 16.6256 13.8947 16.6266 13.8937C16.6271 13.8932 16.6279 13.8925 16.6281 13.8923C16.6288 13.8916 16.6295 13.8909 16.1007 13.359C15.5719 12.8272 15.5726 12.8265 15.5733 12.8258C15.5735 12.8256 15.5742 12.8249 15.5747 12.8244C15.5756 12.8235 15.5765 12.8226 15.5774 12.8217C15.5793 12.82 15.581 12.8183 15.5827 12.8166C15.5862 12.8133 15.5895 12.8103 15.5926 12.8074C15.5988 12.8018 15.6044 12.7969 15.6094 12.7929C15.6192 12.7847 15.6265 12.7795 15.631 12.7764C15.6403 12.7702 15.6384 12.773 15.6236 12.7785C15.5991 12.7876 15.501 12.8189 15.3038 12.7886C14.8905 12.7253 14.02 12.3853 12.5919 10.9654L11.5343 12.0291ZM9.97365 2.40961C8.95434 1.04802 6.94996 0.83257 5.73263 2.04299L6.79027 3.10667C7.32195 2.578 8.26623 2.63181 8.77286 3.30855L9.97365 2.40961ZM4.75168 5.70305C4.73201 5.35694 4.89075 4.9954 5.22067 4.66736L4.16303 3.60368C3.62571 4.13795 3.20329 4.89425 3.2541 5.78816L4.75168 5.70305ZM19.4723 17.7636C19.1975 18.0369 18.9029 18.1908 18.6067 18.2184L18.7459 19.7119C19.4805 19.6434 20.0824 19.2723 20.5299 18.8273L19.4723 17.7636ZM11.0063 7.72922C11.9908 6.7503 12.064 5.2019 11.2346 4.09401L10.0338 4.99295C10.4373 5.53193 10.3773 6.23938 9.9487 6.66555L11.0063 7.72922ZM20.5251 14.2869C21.3429 14.7315 21.4703 15.7769 20.8929 16.3511L21.9505 17.4148C23.2908 16.0821 22.8775 13.8584 21.2415 12.9691L20.5251 14.2869ZM17.085 13.438C17.469 13.0562 18.0871 12.9616 18.6146 13.2483L19.331 11.9305C18.2474 11.3414 16.9026 11.5041 16.0273 12.3743L17.085 13.438Z"
                fill="#ffffff"></path>
            </g>
          </svg>
          <p class="m-0 p-0">&nbsp;4771234567</p>
        </div>
      </a>
    </div>
  </section>
</DefaultLayout>

<style>
  .button-contact {
    cursor: pointer;
  }
  #main {
    font-size: 3.5rem;
    line-height: 1.2;
  }
  .glow {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
  }
  .bg-stars {
    background: transparent;
    width: 100%;
    height: auto;
  }

  .bg-stars::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 500%;
    background-image: radial-gradient(#ffffff 1.5px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
    animation: animStar 135s linear infinite forwards;
  }

  @keyframes animStar {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-135rem);
    }
  }
</style>
