<div class="float button">
    <div class="flex flex-col">
        <p>Más información</p>

        <div class="flex flex-row justify-center buttons">
            <a
                href="https://api.whatsapp.com/send?phone=5491130770000"
                target="_blank"
            >
                <img
                    src="https://img.icons8.com/color/48/000000/whatsapp--v1.png"
                />
            </a>
            <a
                href="https://www.instagram.com/estudiojuridicogalvan/"
                target="_blank"
            >
                <img
                    src="https://img.icons8.com/color/48/000000/instagram-new--v1.png"
                />
            </a>
        </div>
    </div>
</div>

<style>
    .button {
        position: fixed;
        bottom: 0px;
        right: 50%;
        transform: translateX(50%);
        z-index: 10;
        width: 500px;
        height: auto;
        background-color: #10151d;
        color: #fff;
        border-radius: 10px 10px 0 0;
        border-top: 2px solid #131e36;
        text-align: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        transition:
            background-color 0.3s,
            height 0.3s; /* Se ajusta para incluir ambos cambios */
    }

    @keyframes pulse {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }

    .button p {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        margin: 1rem;
    }

    .button:hover {
        background-color: #131e36;
        height: 150px; /* Ajusta la altura para mostrar el contenido adicional */
    }

    .buttons {
        display: none; /* Oculta por defecto */
        gap: 1rem; /* Espacio entre los botones */
        margin-bottom: 1rem;
    }

    .button:hover .buttons {
        display: flex; /* Muestra cuando .button está en hover */
        justify-content: center; /* Centra los botones horizontalmente */
        /* Ajustes adicionales si es necesario para alinear verticalmente dentro de .button cuando se expande */
    }
    .button:hover p {
        margin-top: 1rem;
    }

    .button:active {
        background-color: #003d7a;
    }

    .button::before {
        content: "";
        background: linear-gradient(90deg, #9d6ff8 17.33%, #28b4ff 100.47%);
        opacity: 0.5;
        pointer-events: none;
        position: absolute;
        left: 8rem;
        right: 8rem;
        top: 0.5rem;
        bottom: 0;
        z-index: -999;
        transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0)
            rotate(var(--tw-rotate)) skew(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
        --tw-blur: blur(64px);
        filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
            var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert)
            var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    }

    @media (max-width: 768px) {
        .button {
            display: none;
        }
    }
</style>
